#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background-image: url("https://images.unsplash.com/photo-1601352209555-489a72668fda?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=448&q=80"); */
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 35px;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 60vh;
  color: brown;
  font-family: 'Roboto', sans-serif;
}
